@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "poppins";
  margin: 0;
  padding: 0;
}
body {
  background: #aaaaaa23;
}
/* header */
header {
  margin: 20px auto;
}
nav ul li {
  margin-right: 5px;
  padding: 10px 15px;
}
.hero {
  max-width: 1440px;
  margin: 20px auto;
  height: 600px;
}
.camera {
  background: url(../logos/camera.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.camtext {
  color: #3a3a3a;
}
.btn {
  background: #e02c6d;
  padding: 10px 15px;
  color: #fff;
  margin-top: 20px;
  border-radius: 2rem;
}
main {
  margin: 0 auto;
}
.imgal {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 0;
  margin: 40px 0px;
}
.card {
  background: #fff;
  display: block;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
